{{> head}}

    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Este es el about</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit enim reprehenderit harum nam unde voluptate maxime perferendis quas id? Nobis ipsa a exercitationem reiciendis aspernatur sequi temporibus. Iure, culpa provident!</p>

        </div>
        <div class="col-4">
            <img src="assets/img/imagen-sin-titulo.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer}}